body {
  margin: 0;
}
.containerone {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(108, 78, 49);
  color: #fefde7;
  font-family: abril fatface;
}
.itemone {
  padding: 20px;
  font-size: 30px;
}
.containertwo {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background-color: rgb(108, 78, 49);
  color: #fefde7;
  margin-top: 0;
  font-family: abril fatface;
}
.itemtwo {
  font-size: 20px;
  padding: 20px;
}
a {
  color: #fefde7;
  transition: transform 0, 3s linear;
}
a:hover {
  transform: scale(1.1);
  color: white;
}
.containerthree {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  gap: 10px;
  background-color: rgb(255, 234, 197);
  color: rgb(108, 78, 49);
  padding: 10px;
}
.itemthree {
  background-color: rgb(255, 219, 181);
  border: 2.5px rgb(108, 78, 49) solid;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  height: auto;
  transition: transform 0, 3sec linear;
}
.itemthree:hover {
  background-color: rgb(255, 234, 197);
  transform: scale(1.05);
}
.detailsheading {
  font-size: 20px;
  font-family: Playpen Sans Arabic;

  font-family: abril fatface;
}
.footer {
  margin-top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 63, 38);
  color: rgb(255, 219, 181);
}
