body {
  margin: 0;
}
.containerone {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(108, 78, 49);
  color: #fefde7;
  font-family: abril fatface;
}
.itemone {
  padding: 20px;
  font-size: 30px;
}
.containertwo {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background-color: rgb(108, 78, 49);
  color: #fefde7;
  margin-top: 0;
  font-family: abril fatface;
}
.itemtwo {
  font-size: 20px;
  padding: 20px;
}
a {
  color: #fefde7;
  transition: transform 0, 3s linear;
}
a:hover {
  transform: scale(1.1);
  color: white;
}
h2 {
  text-align: center;
  background-color: rgb(255, 234, 197);
  color: rgb(108, 78, 49);
  margin-bottom: 0;
  padding: 10px;
}
.containerthree {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
  background-color: rgb(255, 234, 197);
  margin-top: 0;
}
.itemthree {
  background-color: rgb(255, 219, 181);
  border: 2.5px rgb(108, 78, 49) solid;
  border-radius: 8px;
  padding: 10px;
  color: rgb(108, 78, 49);
  position: relative;
  height: 50px;
}
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: rgb(255, 219, 181);
  width: 100%;
  height: 100%;
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(255, 219, 181);
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgb(255, 234, 197);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemthree:hover .card {
  transform: rotateY(180deg);
}
.details {
  background-color: rgb(255, 234, 197);
  color: rgb(108, 78, 49);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 0;
}
#details {
  color: rgb(108, 78, 49);
}
.footer {
  margin-top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 63, 38);
  color: rgb(255, 219, 181);
}
